@media only screen and (min-width: 450px) {
 .profilepic{
	border-radius: 50%;
	position: relative;
	left: -53px;
	height:200px;
	width: 200px;
	align-self: center;
}
.pbox{
	display: flex;
	flex-direction: row;
	width: 100vw;
	height:280px;
	border:solid 1px #dbdbdb;
	border-width:0px 0px 1px 0px;
	justify-content: center;
}
.myname{
	position: relative;
	left: -258px;
	top: 200px;
	font-size: 30px;
}
.layer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 25px;

}
.layer2{
	position: relative;
	display: grid;
	grid-template-columns: 130px 150px 30px;
	margin-left: 5px;
	top: -40px;
	height: 20px;
	font-size: 25px;
}
}